services:
  postgres:
    image: postgres:15-alpine
    container_name: sentiment_postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U sentiment_user" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - sentiment_net

  redis:
    image: redis:7-alpine
    container_name: sentiment_redis
    command: [ "redis-server", "--appendonly", "yes" ]
    volumes:
      - redis_data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - sentiment_net

  backend:
    build: ./backend
    container_name: sentiment_backend
    env_file:
      - .env
    environment:
      - PYTHONPATH=/app
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    ports:
      - "8000:8000"
    networks:
      - sentiment_net

  frontend:
    build: ./frontend
    container_name: sentiment_frontend
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      backend:
        condition: service_started
    networks:
      - sentiment_net

  ingester:
    build: ./ingester
    container_name: sentiment_ingester
    env_file:
      - .env
    depends_on:
      redis:
        condition: service_healthy
    networks:
      - sentiment_net

  worker:
    build:
      context: .
      dockerfile: worker/Dockerfile
    container_name: sentiment_worker
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - sentiment_net

volumes:
  postgres_data:
  redis_data:


networks:
  sentiment_net:
    driver: bridge
